*{
padding: 0;
margin: 0;
}
body,header {
background-image:url('images.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;

}

}
.aaa {
 background-color:#212121;
 height:;
 margin-top: 10px;
 margin-bottom: 10px;
 
 
 margin-top:50px;
 padding-right:10px;
 
}
.aaa h4{
 font-size:17px;
 font-weight:bold;
 color:#FFFFFF;
 margin:10px;
 background-color:#E5E8E8 ;
 border: 3px solid black;
 left:25%;
 text-align:center;
 padding:10px;
 margin-top: 10px;
 margin-bottom: 10px;
 }

 }
h2{
    background:#58D68D;
    
}
.icone {
float:right;
width: 60px;
height: 60px;
border: 2px solid black ;
}
.icone1 {
width: 60px;
height: 60px;
border: 2px solid black ;
float:center;
}
#inscription {
width: 510px;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;

padding: 40px;
border: 5px solid black;
border-radius: 2%;
}
input {

border: 1px solid #C9C9C9;
color: #545658;
padding: 8px;
font-size: 14px;
border-radius: 2px 2px 2px 2px;
width: 95%;
}
.bt {
border: 1px solid #B7D6DF;
border-radius: 2px 2px 2px 2px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #437182;
cursor: pointer;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
font-weight: bold;
height: auto;
padding: 6px 10px;
text-shadow: 0 1px 0 #FFFFFF;
width: auto;
 float:right;
 margin:2px;
}
.bt:hover
{
	box-shadow: 10px 10px 20px grey;
	color:#4CAF50;
}

label {
margin-bottom: 5px;
font-weight: bold;
font-size: 1.1em; }

.m{
	text-decoration:underline;
}
#fix{
	
}